/* http://webdesignerhut.com/pure-css-tooltips-with-html5-data-attribute/ */
.tooltip {
    text-decoration: none;
}
.tooltip:hover {
    position: relative;
}
.tooltip-right[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    padding: 4px 8px;
    position: absolute;
    left: 100%;
    white-space: pre;
    background-color: #000;
    color: #fff;
}